.container {
    padding: 10px 24px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.cardContent {
    flex-grow: 1;
}

.cardHeader {
    color: #6a2292;
    text-decoration: none;
}

.cardButton {
    color: "#6a2292";
}