.container {
    background-color: rgb(255, 255, 255);
    padding-top: 64px;
    padding-bottom: 48px;
}

.heading {
    text-align: center;
    color: #2a8b2c;
}

.description {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}